<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='password.css') }}">
</head>
<body>
    <div class="change-password-container">
        <h3>Change Password</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% elif category == 'error' %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br><br>
        <a href="{{ url_for('employee') }}" ><button class="btn btn-secondary">Back</button></a>
        <br><br>
       
        <form method="POST" action="{{ url_for('change_password') }}">
            <label for="oldPassword">Old Password:</label><br>
            <input type="password" id="oldPassword" name="oldPassword" required><br><br>
            <label for="newPassword">New Password:</label><br>
            <input type="password" id="newPassword" name="newPassword" required><br><br>
            <label for="confirmPassword">Confirm Password:</label><br>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
            <button type="submit">Change Password</button><br>
           
        </form>
    </div>
</body>
</html>