body {
    font-family: Arial, sans-serif;
 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

form {
    display: inline;
}

.logout{
    position: absolute;
    top: 25px;
    right: 50px;
    background-color: red;
    color: white;
}

.logout:hover {
    background-color: #a30f0f;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}


